<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dynamic Props</title>
    <script src="../../js/Vue.js" charset="utf-8"></script>
  </head>

  <body>
    <p>可以在父组件上通过v-bind，动态地将props和data绑定起来，当父组件中data变化了，因为子组件使用了props选项，该变化会直接反映到子组件里</p>
    <div id="demo">
      <!-- parentMsg变量的值等于输入的字符串 -->
      <input v-model.lazy='parentMsg'>
      <br>
      <!-- child的my-message属性等于parentMsg的值，父组件将my-message通过prop传给子组件child，子组件通过props拿到期望的myMessage变量并显示出来 -->
      <child v-bind:my-message='parentMsg'></child>
    </div>
    <script type="text/javascript">
      Vue.component('child',
      {
        props: ['myMessage'],
        template: '<span>{{ myMessage }}</span>'
      })
      new Vue(
      {
        el: '#demo',
        data:
        {
          // 定义input下的变量parentMsg
          parentMsg: ''
        }
      })
    </script>
  </body>

</html>
