<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Local Registration</title>
    <script src="../../js/vue.js" charset="utf-8"></script>
  </head>

  <body>
    <div id="demo">
      <my-component></my-component>
    </div>
    <!-- 此组件超出了范围，不会被显示 -->
    <my-component></my-component>
    <script type="text/javascript">
      var Child = {
        template: '<div>A local component!</div>'
      }
      new Vue(
      {
        el: '#demo',
        components:
        {
          // 此组件只能在#demo元素的子域下使用，超出范围使用my-component虽然不报错，但是页面也没有任何显示
          'my-component': Child
        }
      })
    </script>
  </body>

</html>
