<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Radio</title>
  <script src="../../js/vue.js" charset="utf-8"></script>
</head>

<body>
  <div id="demo">
    <input type="radio" id="one" value="One" v-model='picked'>
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model='picked'>
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
  </div>
  <script type="text/javascript">
    var vm = new Vue(
    {
      el: '#demo',
      data:
      {
        picked: ''
      }
    })
  </script>
</body>

</html>
